*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1234px;
    margin: 0 auto;
    padding: 0 14px 0 12px;
}

ul{
    margin: 0;
    padding: 0;
}

ul>li{
    list-style: none;
}

a{
    text-decoration: none;
}

.title{
    color: rgb(34, 37, 59);
    font-family: Gilroy SemiBold;
    font-size: clamp(1.5rem, 1.325rem + 0.875vi, 2.375rem);
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}